.btn {
    padding: 5px 20px;
    border: 0;
    margin-left: 16px;
    background-color: #111;
    color: #fff;
}

.textTodo {
    font-size: 20px;
    margin-left: 16px;
    position: relative;
}

.todo {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title_todo {
    display: flex;
    align-items: center;
}

.checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(50%);
    border-bottom: 2px solid #000;
}

.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 3px solid #21D1D1;
}

.checkbox:checked {
    background-color: #21D1D1;
}

.line {
    width: 100%;
    height: 1px;
    margin-top: 16px;
    background-color: #f1f1f1;
}

.line:last-child {
    display: none;
}

.icon_wrapper {
    display: flex;
    align-items: center;
}

.icon {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    cursor: pointer;
}