.title {
    font-weight: 500;
    font-size: 48px;
    color: var(--black);
}

.project_name {
    font-size: 18px;
    color: var(--black);
}

.line {
    width: 40px;
    height: 1px;
    background-color: var(--gray-light);
    margin: 8px 0;
}

.hat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hat svg {
    cursor: pointer;
    width: 32px;
    height: 32px;
    color: var(--black);
}

.task {
    width: 100%;
    height: 40px;
    padding-left: 15px;
    border: 0;
    color: var(--black);
    border-left: 4px solid var(--cyan);
    background-color: transparent;
    font-size: 21px;
}

.task:focus {
    outline: 0;
}

.btn {
    padding: 10px 30px;
    border: 0;
    background-color: var(--cyan);
    color: var(--white);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--cyan-hover);
    color: var(--white-hover);
}

.inputs_wrapper {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}